/* 
  Fonte para título:
  font-family: "Young Serif", serif; 
*/

/* 
  Fonte para parágrafo:
  font-family: "Outfit", sans-serif; 
*/

/* 
# Tamanhos das fontes:
  Título 1: 72px
  Título 2: 42px
  Título 3: 30px
  Parágrafo: 20px
  Item da lista: 20px
  Dado da tabela: 20px

# Cores usadas:
  Preto: #000
  Marrom claro: hsl(30, 10%, 34%) // Hue (tom), Saturation (saturação) 
  e Lightness (luminosidade)
  Rosa claro: hsl(330, 100%, 98%)
  Telha: hsl(14, 45%, 36%)
  Rosê: hsl(332, 51%, 32%)
*/